{% extends 'template.twig' %}
{% block form %}
    <div class="form-group">
        <label for="md5">Votre texte en clair</label>
        {% if plain is defined %}
            <input type="text" class="form-control" id="md5" name="md5" value="{{ plain }}">
        {% else %}
            <input type="text" class="form-control" id="md5" name="md5">
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Hasher en md5</button>
    <div class="form-group" style="margin-top: 20px;">
        {% if hash is defined %}
            <label for="textval">Résultat du hash :</label>
            <textarea class="form-control" id="my-textarea">{{ hash }}</textarea>
        </div>
        <div class="form-group">
            <button type="button" onclick="download()" class="btn btn-primary">Sauvegarder</button>
        {% endif %}
    </div>
{% endblock %} 



