<html>

<head>
    <title>ESGI Crypto</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div>
       {% include 'navbar.twig' %} 
        <div class="container">
            <div class="jumbotron">
                <form method="POST">
                    {% block form %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
</body>

</html>